
<h2>New Time Block</h2>
<h6><strong> Title :</strong> <%= Tasktracker.Tracker.get_task(@current_task).title %></h6>

<%= render "form.html", Map.put(assigns, :action, timeblocks_path(@conn, :create_timeblock)) %>

<span><%= link "Back", to: task_path(@conn, :show, Tasktracker.Tracker.get_task(@current_task)) %></span>
