<div class="row">
  <div class="col" id="index-page">
    <h1>Join a Game</h1>
    <p> Enter the name of the Game you want to join so you can play from where you left</p>
    <p><input type="text" class="game-input" id="game-input"></p>

    <button onclick="addName()">Join Game</button
  </div>
  <script>
  function addName() {

        var gameName = document.getElementById('game-input').value;
        window.location.href="/game/"+ gameName;
  }</script>
</div>
