<h2>Show User</h2>

<ul>

  <li>
    <strong>Email:</strong>
    <%= @user.email %>
  </li>

  <li>
    <strong>Name:</strong>
    <%= @user.name %>
  </li>

</ul>


<span><a class="btn btn-primary" href="<%= user_path(@conn, :edit, @user) %>">Edit</a></span>
<span><a class="btn btn-primary" href="<%= user_path(@conn, :index) %>">Back</a></span>
<span><a class="btn btn-primary" href="/tasks">All Tasks</a></span>
